.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  margin-right: 700px;
}
body
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
body{
  background-image: url("../assets/tlo2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 72%;
  background-color: rgb(94, 94, 94);
}
.btn {
    padding: 16px;
    width: 210px;
    height: 70px;
  border: none;
  border-radius: 10px;
  color: purple;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  background-color:black;
  font-family: minecraft;
  font-size: 30px;
  border: purple solid 3px;

  
}

.btn:hover {
  border-color: #af06af;
  box-shadow: 0 0 10px #888888, 0 0 20px purple, 0 0 30px purple;
  text-shadow: 0 0 10px #888888, 0 0 20px purple  , 0 0 30px purple;
}

.button-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-spacing: 30px;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -130px;
  margin-left: 700px;
  gap: 50px;
}

.side-panel {
  width: 300px;
  padding: 20px;
  color: white;
  border-radius: 10px;
  font-family: Arial, sans-serif;   
}

.side-panel h2 {
  margin-bottom: 10px;
}

.side-panel p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.tabliczka{
    margin-left: 900px;
    position: absolute;
}