#tetrisNextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tetrisNextContainer > h1 {
    margin: 0;
    font-family: minecraft;

    font-size: min(
        3.25vw,
        4.25vh
    );
}

